:root{
    --DarkModeElements: hsl(209, 23%, 22%);
    --DarkModeBackground: hsl(207, 26%, 17%);
    --LightModeText: hsl(200, 15%, 8%);
    --LightModeInput: hsl(0, 0%, 52%);
    --LightModeBackground: hsl(0, 0%, 96%);
    --DarkModeTextAndLightModeElements: hsl(0, 0%, 100%);
}

#container{
    background-color: var(--DarkModeBackground)
}

.container{
    background-color: var(--DarkModeBackground);
}

header{
    background-color: var(--DarkModeElements);
    box-shadow: 3px 3px 5px  rgb(12, 10, 32);
}

#headerText{
    color: var(--DarkModeTextAndLightModeElements);
}

#buttonDarkMode{
    background-color: transparent;
    border-color: transparent;
}

#buttonDarkMode span{
    color: var(--DarkModeTextAndLightModeElements);
}

#divSearch{
    background-color: var(--DarkModeElements);
    box-shadow: 3px 3px 5px  rgb(12, 10, 32);
}

::placeholder {
    color: var(--DarkModeTextAndLightModeElements);
  }

#buttonSearch{
    background-color: transparent;
}

#inputTextSearch{
    background-color: transparent;    
}

#divFilter{
    background-color: var(--DarkModeElements);
    box-shadow: 3px 3px 5px  rgb(12, 10, 32)
}

#filterSelect{
    background-color: var(--DarkModeElements);
    color: var(--DarkModeTextAndLightModeElements);
}

.countries{
    background-color: var(--DarkModeBackground);
}


#country{
    background-color: var(--DarkModeElements);
    box-shadow: 3px 3px 5px  rgb(12, 10, 32)
}

#countryImg img{
    box-shadow: 3px 3px 5px  rgb(12, 10, 32)
}

#countryDescription{
    background-color: transparent;
    color: var(--DarkModeTextAndLightModeElements)
}

#backButton{
    
    background-color: var(--DarkModeElements);
    color: var(--DarkModeTextAndLightModeElements);
}

#backButton img{
    filter: invert(97%) sepia(8%) saturate(74%) hue-rotate(42deg) brightness(116%)
    contrast(100%);
}

.textColor{
    color: var(--DarkModeTextAndLightModeElements);
}

#borderCountryButton{
    background-color: var(--DarkModeElements);
}

#borderCountryButton span{
    background-color: var(--DarkModeElements);
    color: var(--DarkModeTextAndLightModeElements);
}





