*{
    caret-color: transparent;
}

.container{
    height: max-content;
    width: auto;
}

.children{
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    gap: 10px;
}


#backButton{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    gap: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

#backButton img{
    width: 20px;
    height: 20px;
}

.imgWithDescription{
    height: 800px;
    display: flex;
}

#bigImg{
    margin-top: 60px;
    width: 400px;
    height: 300px;
}

.countryDescription{
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

#countryTitle{
    display: flex;
    font-size: xx-large;
    margin-top: 50px;
}

#completeDescription{
    display: flex;
    margin-top: 30px;
    gap: 140px;
}

.collumnOne div{
    margin-bottom: 10px;
}

.collumnTwo div{
    margin-bottom: 10px;
}

#borderCountries{
    display: flex;
    width: 800px;
    height: 100px;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 5px 10px;
}

#borderCountries span{
    display: flex;   
    align-items: center;
}

.titleBorderCountry{
    margin-top: 40px;
    margin-right: 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
}

.titleWithBorderCountries{
    display: flex;
}

#borderCountryButton{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    gap: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

.textDescriptionCountryTwo{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.textLowWeight{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 600px){


    .container{
        display: block;
        align-items: center;
        justify-content: center;
        /* text-align: center; */

    }

    .children{
        margin-top: 20px;
        width: 100vw;
        margin-left: 0px;
        gap: 10px;
    }

    #backButton{
        width: 85px;
        height: 40px;
    }

    .imgWithDescription{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;

    }
    
    #bigImg{
        margin-top: 20px;
        width:  350px;
        height: 250px;
    }

     .countryDescription{
        width: 90vw;
        margin-left: 30px;        
    }

    #countryTitle{
        margin-top: 10px;
    }
    
    #completeDescription{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 0px;
    } 

    #borderCountries{
        display: flex;
        width: 800px;
        height: auto;
        flex-wrap: wrap;
        margin-top: 30px;
        gap: 5px 10px;
    }

    .titleWithBorderCountries{
        display: flex;
        flex-wrap: wrap;
    }
    
    #borderCountryButton{
        gap: 5px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
        width: 100px;
        height: 40px;
    }


}