*{
    caret-color: transparent;
}

.container{
    height: max-content;
    width: auto;
}

.children{
    margin-top: 50px;
    margin-left: 75px;
    gap: 10px;
}


#backButton{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    gap: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

#backButton img{
    width: 20px;
    height: 20px;
}

.imgWithDescription{
    height: 800px;
    display: flex;
    /* align-items: center; */
}

#bigImg{
    margin-top: 60px;
    width: 400px;
    height: 300px;
}

.countryDescription{
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

#countryTitle{
    display: flex;
    font-size: xx-large;
    margin-top: 50px;
}

#completeDescription{
    display: flex;
    margin-top: 30px;
    gap: 140px;
}

.collumnOne div{
    margin-bottom: 10px;
}

.collumnTwo div{
    margin-bottom: 10px;
}

#borderCountries{
    display: flex;
    width: 800px;
    height: 100px;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 5px 10px;
}

#borderCountries span{
    display: flex;   
    align-items: center;
}

.titleBorderCountry{
    margin-top: 40px;
    margin-right: 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
}

.titleWithBorderCountries{
    display: flex;
}

#borderCountryButton{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    gap: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

.textDescriptionCountryTwo{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.textLowWeight{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
}

a{
    text-decoration: none;
}