:root{
    --DarkModeElements: hsl(209, 23%, 22%);
    --DarkModeBackground: hsl(207, 26%, 17%);
    --LightModeText: hsl(200, 15%, 8%);
    --LightModeInput: hsl(0, 0%, 52%);
    --LightModeBackground: hsl(0, 0%, 96%);
    --DarkModeTextAndLightModeElements: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


#container{
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    width: 100vw;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

#headerText{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    margin-left: 50px;
}

#buttonDarkMode{
    cursor: pointer;
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
}

#buttonDarkMode span{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    text-align: left;
    font-size: 18px;
}

#buttonDarkMode img{
    width: 30px;
    height: 30px;
}

.miniHeader{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-left: 25px;
}

.miniHeader img{
    margin-left: 30px;
    width: 20px;
    height: 20px;
}

#divSearch{
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

::placeholder {
    font-size: 0.9rem;
    font-weight: 300;
  }

#buttonSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
    border: none;
    cursor: pointer;
}

#buttonSearch img{
    margin-left: 25px;
}


#inputTextSearch{
    width: 350px;
    border: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px; 
}

#inputTextSearch:focus{
    outline: none;
}

#divFilter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    width: 150px;
    height: 50px;
}

#filterSelect{
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
}

#filterSelect option{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    padding: 10px 0;
    padding: 8px;
    margin: 2px;
}

#filterSelect:focus{
    outline: none;
}

.countries{
    margin-left: 75px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}


#country{
    display: flex;
    flex-direction: column;
    text-align: start ;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    width: 270px;
    height: 360px;
}

#countryImg{
    width: 270px;
    height: 180px;
    object-fit: fill;
}

#countryDescription{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px;
}

.textTitleCountry{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}

.textDescriptionCountry{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.textDescriptionCountryTwo{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
}

#population{
    margin-top: 10px;
}

@media screen and (max-width: 600px){
    #container{
        align-items: center;
    }
    
    header{
        margin-top: 20px;
        width: 270px;
        padding: 0px;
        justify-content: space-around;
    }

    #headerText{
        padding: 10px;
        margin-left: 10px;
    }

    #buttonDarkMode{
        padding: 10px;
        margin-right: 0px;
    }

    .miniHeader{
        width: 270px;
        margin-left: 0px;
        padding: 20px 0px 20px 0px; 
        justify-content: space-around;
    }

    .countries{
        margin-left: 0;
        align-items: center;
        justify-content: center;
    }

    #divSearch{
        width: 130px;
    }

    #divFilter{
        width: 120px;
        margin-right: 0px;
    }

    ::placeholder {
        font-size: 0rem;
        font-weight: 300;
    }
    
}