:root{
    --DarkModeElements: hsl(209, 23%, 22%);
    --DarkModeBackground: hsl(207, 26%, 17%);
    --LightModeText: hsl(200, 15%, 8%);
    --LightModeInput: hsl(0, 0%, 52%);
    --LightModeBackground: hsl(0, 0%, 96%);
    --DarkModeTextAndLightModeElements: hsl(0, 0%, 100%);
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  #modal {
    position: absolute;
    display: flex;
    height: auto;
    min-height: 90vh;
    width: 90vw;
    border-radius: 10px;

    padding: 20px;
    /* max-width: 90%;
    max-height: 90%; */
  }


.container{
    padding: 30px;
}

#closeButton{
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 40px;
}
  
.lightModeBackground{
    background-color: var(--LightModeBackground);
}

.lightModeElements{
    background-color: var(--DarkModeTextAndLightModeElements);
    font-family: 'Nunito Sans';
    font-style: normal;
}

.darkModeBackground{
    background-color: var(--DarkModeBackground);
}

.darkModeText{  
    color: var(--DarkModeTextAndLightModeElements);
    font-family: 'Nunito Sans';
    font-style: normal;
}

.darkModeElements{
    background-color: var(--DarkModeElements);
    color: var(--DarkModeTextAndLightModeElements);
    font-family: 'Nunito Sans';
    font-style: normal;
}