:root{
    --DarkModeElements: hsl(209, 23%, 22%);
    --DarkModeBackground: hsl(207, 26%, 17%);
    --LightModeText: hsl(200, 15%, 8%);
    --LightModeInput: hsl(0, 0%, 52%);
    --LightModeBackground: hsl(0, 0%, 96%);
    --DarkModeTextAndLightModeElements: hsl(0, 0%, 100%);
}

#container{
    background-color: var(--LightModeBackground);
}

.container{
    background-color: var(--LightModeBackground);
}

header{
    background-color: var(--DarkModeTextAndLightModeElements);
    box-shadow: 3px 3px 3px rgb(201, 201, 201);
}

#headerText{
    color: var(--LightModeText);
}

#buttonDarkMode{
    background-color: transparent;
    border-color: transparent;
}

#buttonDarkMode span{
    color: var(--LightModeText);
}

#divSearch{
    background-color: var(--DarkModeTextAndLightModeElements);
    box-shadow: 5px 5px 5px rgb(201, 201, 201);
}

::placeholder {
    color: var(--LightModeText);
  }

#buttonSearch{
    background-color: transparent;
}

#inputTextSearch{
    background-color: transparent;    
}

#divFilter{
    background-color: var(--DarkModeTextAndLightModeElements);
    box-shadow: 3px 3px 3px rgb(201, 201, 201);
}

.countries{
    background-color: var(--LightModeBackground);
}


#country{
    background-color: var(--DarkModeTextAndLightModeElements);
    box-shadow: 3px 3px 3px rgb(201, 201, 201);
}

#countryImg img{
    box-shadow: 3px 3px 3px 3px rgb(201, 201, 201);
}

#countryDescription{
    background-color: transparent;
    color: var(--LightModeText);
}

#backButton{
    background-color: var(--DarkModeTextAndLightModeElements);
    color: var(--LightModeText);
}

.textColor{
    color: var(--LightModeText);
}

#borderCountryButton{
    background-color: var(--DarkModeTextAndLightModeElements);
    color: var(--LightModeText);
}



