
:root{
    --DarkModeElements: hsl(209, 23%, 22%);
    --DarkModeBackground: hsl(207, 26%, 17%);
    --LightModeText: hsl(200, 15%, 8%);
    --LightModeInput: hsl(0, 0%, 52%);
    --LightModeBackground: hsl(0, 0%, 96%);
    --DarkModeTextAndLightModeElements: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--LightModeBackground);
}

header{
    background-color: var(--DarkModeTextAndLightModeElements);
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    box-shadow: 5px 5px 5px rgb(201, 201, 201);
}

.headerText{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    margin-left: 50px;
    
}

#buttonDarkMode{
    cursor: pointer;
    margin-right: 50px;
    background-color: transparent;
    border-color: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
}

#buttonDarkMode span{
    text-align: left;
    font-size: 15px;
    font-weight: 300;
}

#buttonDarkMode img{
    width: 20px;
    height: 20px;
}

.miniHeader{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-left: 25px;

}

.miniHeader img{
    margin-left: 30px;
    width: 20px;
    height: 20px;
}

.divSearch{
    width: 500px;
    height: 50px;
    background-color: var(--DarkModeTextAndLightModeElements);
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 5px 5px 5px rgb(201, 201, 201);
}

#buttonSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
    border: none;
    cursor: pointer;
}

#buttonSearch img{
    margin-right: 20px;
}


#inputTextSearch{
    width: 400px;
    border: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px; 
    
}

#inputTextSearch:focus{
    outline: none;
}

.divFilter{
    display: flex;
    align-items: center;
    margin-right: 25px;
    width: 180px;
    height: 50px;
    background-color: var(--DarkModeTextAndLightModeElements);
    box-shadow: 5px 5px 5px rgb(201, 201, 201);
}

#filterSelect{
    padding: 1em 1em;
    margin-left: 10px;
    border: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
}

#filterSelect option{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    padding: 10px 0;
    
    padding: 8px;
    margin: 2px;
}

#filterSelect:focus{
    outline: none;
}

.countries{
    margin-left: 75px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.country{
    background-color: purple;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 270px;
    height: 330px;
}

.country img{
    width: 330px;
    height: 30.4%;
    border-radius: 8px;
}







